@use '../scss/mixins/flex-display';

.content {
  background-color: #000;
  color: #ffffff;
  

  &__title-container {
     @include flex-display.flex($justify: center, $align: center)
  }

  &__canvas-container {
    background-color: #fff;;
  }
}