.header {
  position: absolute;
  z-index: 4;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: black;

  &__list-wrapper {
    inline-size: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__list-item {
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
  }

  &__link {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    white-space: nowrap;
    transition: letter-spacing 0.2s ease-in-out;
    // min-width: 120px;

    &:hover {
      letter-spacing: 5px;
    }
  }
}
