@use '../scss/variables' as *;
@use '../scss/mixins/logic-features';
@use '../scss/mixins/flex-display';
@use 'sass:map';

html,
body.page {
  font-family: $mainfont;
  font-size: $fontSizeDefault;
  color: #ffffff;
  background: $backgroundColor;

  &__wrapper {
    @include logic-features.logic-size(100vw);

    &_locked {
      position: fixed;
    }
  }
}
