@use '../vendor/comfortaa/index.css';
@use '../vendor/normalize.css';

// bloks
@use '../common.blocks/page.scss';
@use '../common.blocks/content.scss';
@use '../common.blocks/canvas.scss';
@use '../common.blocks/title.scss';

@use 'variables' as *;
